body {
  background: black;
  color: #333;
  padding-top: 3%;
  margin: 0px;
  background-color: #000;
}

:root {
  --footer-background: #121a29;
  --text-color: #FAFBFC;
  --text-gray: #FEFEFE;
  --text-heading-gray: #F4F5F6;
  --text-primary: #FAFBFC;
  --button-color: #404652;
  --button-border: #6B707C;
}
body {
  font-family: "Lato", sans-serif;
  transition: background-color .5s;
  overflow-x:  hidden !important;
}

header{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: rgb(5, 0, 0);
  background-image: url("https://fusionhubtool.github.io/Tools/Images/bgvideo.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.sidenav{
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-image: linear-gradient( to right, #1f0202, #08021b);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a{
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover{
  color: #f1f1f1;
}

.sidenav .closebtn{
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

h1 {
  background: linear-gradient(45deg, #59BC81, #f80);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 32px;
  padding-top: 30px;
  text-align: center;
  font-family: Georgia, serif;
}

p {
  margin-bottom: 10px;
}

.button2 {
  background-color: rgba(51, 138, 127, 0.41);
  color: #000;
  border: 3px solid transparent;
  border-radius: 100px;
  padding: 5px;
}

.button2:hover {
  background-color: rgba(51, 138, 127, 0.41);
  color: #fff;
  border: 3px solid;
  border-radius: 0px;
  border-image-source: linear-gradient(to right, #e5f5f7, #c5e5f0, #a5d5e9, #0AD9EF);
  border-image-slice: 1;
  border-image-width: 1;
  padding: 5px;
}

.button-float {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #ff5733;
  color: white;
  font-size: 18px;
  border-radius: 50%;
  padding: 15px;
  cursor: pointer;
  box-shadow: 0px 0px 10px #ff5733;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 40px;
  background: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  overflow: scroll;
}

@keyframes gradient {
  0% {
    background-image: linear-gradient(60deg, #f787878e, #cff883a0, #8bf9c996, #91deffaf);
  }
  20% {
    background-image: linear-gradient(120deg, #f8c5818e, #b3fb83a0, #92fcef96, #8096f9c5);
  }
  40% {
    background-image: linear-gradient(200deg, #e5fa859a, #86fd9ea0, #839df996, #c18cf67f);
  }
  60% {
    background-image: linear-gradient(240deg, #f082828e, #caf47ba0, #87f8c796, #91deffae);
  }
  80% {
    background-image: linear-gradient(300deg, #fcca8898, #a2f56aa0, #80f7e996, #7f96fba6);
  }
  100% {
    background-image: linear-gradient(360deg, #e6fd839a, #8bf8a1a0, #9eb0f396, #c28df77f);
  }
}

.background-gradient {
  animation: gradient 10s ease-in-out infinite;
  transition: background-image 0.5s ease-in-out;
}

article {
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  text-align: center;
  color: #000;
  background-image: linear-gradient(#f8acac8e, #d8f5a3a0, #9cf6cf96, #aae1f9);
}

article:hover {
  border-radius: 20px;
  box-shadow: 0px 5px 20px 10px rgba(157, 248, 223, 0.358);
  font-family: Arial, sans-serif;
  text-align: center;
  color: #000;
  animation: gradient 5s ease-in-out infinite;
}

article img {
  align-items: center;
  width: 250px;
  height: 180px;
}

article p {
  color: #000;
  font-family: Georgia, serif;
}

article h2 {
  color: #070708;
  font-family: comic sans ms;
}

article a {
  text-decoration: none;
  border: 3px solid rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  background-color: rgba(95, 99, 104, .38);
}

article a:hover {
  padding: 3px;
  background-color: rgba(62, 145, 253, 0.665);
  transition: .5s;
  color: black;
}
@media (min-width: 900px) {
  article{
    width: 48%;
    margin: 1%;
  }
  .main{
    display:flex;
    flex-wrap: wrap;
  }
}
.alert {
  text-align: center;
  padding: 30px;
  background-color: #0d0d0d;
  color: #f70101;
  margin-bottom: 15px;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

/*slidebar*/

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-image: linear-gradient( 105deg, #1f0202, #08021b);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 80px 16px;
  padding-top: 60px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

/*? footer reset*/

*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.footer-wrapper {
  display: flex;
  background: var(--footer-background);
  flex-direction: column;
  max-width: 1320px;
  padding: 16px;
}

.footer-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: start;
  padding: 16px 0px;
  justify-content: space-between;
}

.footer-line {
  display: block;
  width: 100%;
  height: 8px;
}

.footer-columns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  align-items: start;
  flex: 2 0 140px;
  width: 100%;
  gap: 16px;
  padding: 24px 8px 16px 8px;
  margin: 0 auto;
}

.footer-columns ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-columns ul a {
  color: var(--text-color);
  text-decoration: none;
}

.footer-columns ul a:hover {
  text-decoration: underline;
}

.footer-columns ul li {
  margin-bottom: 16px;
}

.footer-columns h3 {
  color: var(--text-primary);
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 1.125rem;
}

.footer-centering {
  margin: 0 auto;
}

.footer-columns>section {
  min-width: 150px;
}

.footer-logo {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  gap: 16px;
  color: var(--text-color);
  margin-bottom: 60px;
}

.footer-logo svg {
  stroke: var(--text-color);
  stroke-width: 8px;
  width: 50px;
  height: 50px;
}

.footer-bottom {
  text-align: center;
  margin-top: 48px;
  display: flex;
  align-items: center;
  width: 100%;
  gap: 16px;
  padding: 16px 0px;
  flex-wrap: wrap;
  justify-content: space-between;
  color: var(--text-gray);
}

.footer-bottom>small {
  font-size: 16px;
  margin: 0 4px;
}

.footer-headline>h2 {
  margin: 0px;
  color: var(--text-primary);
}

.footer-headline>p {
  color: var(--text-gray);
  margin: 4px 0px 20px 0px;
}

.footer-line {
  display: block;
  min-width: 40px;
  height: 2px;
  background-color: var(--text-gray);
}

.social-links {
  display: flex;
  gap: 8px;
  align-items: center;
}

.social-text {
  display: flex;
  align-items: center;
  gap: 8px;
}

.social-links img {
  width: 24px;
  height: 24px;
  transition: all 0.2s ease-in-out;
}

.social-links img:hover {
  transform: scale(1.1);
}

.social-links ul {
  display: flex;
  gap: 12px;
  }
  
  @media (max-width: 1000px){
    .footer-top {
      display: flex column;
      align-items: center;
      text-align: center;
      padding: 16px 8px 32px 8px;
    }
  
    .footer-bottom {
      display: flex;
      flex-direction: column-reverse;
      align-items: space-between;
      justify-content: center;
      margin: 0 auto;
    }
  }
